
@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h3, h4, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* Global styling start here */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-family:'Futura Bold', sans-serif;
}

ul,li {list-style: none;}
a {text-decoration: none;}
body {
  background-color: aliceblue; 
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

/* Global styling End here */

/* ==========================================================================
  1.Drink water styling start here
========================================================================== */
body { background-color: #298fe9; }
.wrapper {
  max-width: 1366px;
  width: 35% ;
  margin:0 auto;
}

h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

span {
  color : #fff;
  text-align: center;
  display: block;
}

.instruction { margin-top: 30px; }

.water-jar {
  background-color: #fff;
  width: 45%;
  text-align: center;
  margin: 0 auto;
  min-height: 300px;
  border: 5px solid #206fd6;
  border-radius: 0 0 60px 60px;
  position: relative;
  overflow: hidden;
}

.water-jars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 300px;
  margin: 30px auto 0;
}

.jar-list {
  flex-basis: 19%;
  background-color: #fff;
  padding: 30px 5px;
  text-align: center;
  border: 3px solid #206fd6;
  border-radius: 0 0 60px 60px;
  cursor: pointer;
  margin-bottom: 10px;
}

.fill {
  position: absolute;
  display: block;
  background-color: #298fe9;
  color: #040e1f;
  font-size: 30px;
  width: 100%;
  bottom: -105%; 
  min-height: 300px;
  z-index: 1;
  padding: 30px 0;
  transition: all .5s ease-in-out;
}

.demand,
.capacity { color: #206fd6; }
.jar-list:not(:nth-child(4n)) { margin-right: 8%; }
.jar-list a { color: #298fe9; }
.jar-list.active { background-color: #7aaedb; }
.jar-list a.active { color: #fff; }
/* ==========================================================================
1.Drink water styling End here
========================================================================== */